@use "../global";
a {
    text-decoration: none;
}
li {
    display:flex;
    align-items: center;
    
}
.nav-item button {
    padding: 10px 40px;
    border: 1px solid white;
    color:white;
    border-radius: 100px;
    gap: 10px;
    
}
.nav-link a{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.64px;
    transition: 0.5s;
}
.nav-link:hover {
    border: 1px solid white;
}
.about {
    h1 {
        margin-top: 70px;
        color: #242424;
        text-align: right;
        font-variant-numeric: lining-nums tabular-nums;
        font-family: Cera Round Pro;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 83.2px */
        letter-spacing: 1.92px;
        text-transform: capitalize;
    }
    p {
        margin-left: 200px;
        width: 720px;
        margin-top: 57px;
        color: #242424;
        font-family: Open Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        letter-spacing: 0.8px;
    }

}
footer {
    background-color: #BB2339;
}
.footer__data {
    margin-top:50px;
}