$primary-font: "Open Sans";
$secondary-font: "Roboto", sans-serif;
$tertiary-font: "Cera Round Pro", sans-serif;
$fourth-font:"Inter";

$primary-color: #BB2339;
$secondary-color: white;
$triatory-color: black;

$blog-color:#F4F4F4;

$mobilePadding: 20;